.git
.github
.vscode
.idea

*.pyc
__pycache__
*.egg-info

frontend/node_modules
roster/node_modules
node_modules
frappe-ui

.env
.env.local
.env.*.local

docker/docker-compose.yml
docker-compose.yml
Dockerfile

*.md
!README.md
!MANIFEST.in

.pre-commit-config.yaml
.releaserc
.semgrepignore
.mergify.yml
.editorconfig
commitlint.config.js
codecov.yml
crowdin.yml

CODE_OF_CONDUCT.md
license.txt
hrms.png
